<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ManHinhChinh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pheptru.MenuPhepTru" />
        <activity android:name=".pheptru.Bangtru" />
        <activity android:name=".pheptru.Tru1_1chuso" />
        <activity android:name=".pheptru.Tru2_1chuso" />
        <activity android:name=".pheptru.Tru2_2chuso" />
        <activity android:name=".pheptru.Tru3_1chuso" />
        <activity android:name=".pheptru.Trubaso" />
        <activity android:name=".pheptru.Pheptrudongian" />


        <activity android:name=".phepnhan.MenuPhepNhan" />
        <activity android:name=".phepnhan.Bangnhan" />
        <activity android:name=".phepnhan.Nhan1x1chuso" />
        <activity android:name=".phepnhan.Nhan2x1chuso" />
        <activity android:name=".phepnhan.Nhan3x1chuso" />
        <activity android:name=".phepnhan.Nhan2x2chuso" />
        <activity android:name=".phepnhan.PhepNhanDonGian" />

        <activity android:name=".phepchia.MenuPhepChia" />
        <activity android:name=".phepchia.Bangchia" />
        <activity android:name=".phepchia.Chia1_1chuso" />
        <activity android:name=".phepchia.Chia2_1chuso" />
        <activity android:name=".phepchia.Chia2_2chuso" />
        <activity android:name=".phepchia.Chia3_1chuso" />
        <activity android:name=".phepchia.PhepChiaDonGian" />

        <activity android:name=".sosanh.PhepSoSanhActivity" />

        <activity android:name=".phepcong.PhepCongLienTiepActivity" />
        <activity android:name=".phepcong.Cong1chuso" />
        <activity android:name=".phepcong.Cong2chuso" />
        <activity android:name=".phepcong.Cong3chuso" />
        <activity android:name=".phepcong.Cong3so" />
        <activity android:name=".phepcong.PhepCongDonGian" />
        <activity android:name=".phepcong.MenuPhepCong" />

        <activity android:name=".luyentap.LuyenTapToan" />
        <activity android:name=".xephang.XepHangActivity" />

    </application>

</manifest>