<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ManHinhChinh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pheptru.MenuPhepTru" />
        <activity android:name=".pheptru.BangTru" />
        <activity android:name=".pheptru.TruMotVoiMotChuSo" />
        <activity android:name=".pheptru.TruHaiVoiMotChuSo" />
        <activity android:name=".pheptru.TruHaiVoiHaiChuSo" />
        <activity android:name=".pheptru.TruBaVoiMotChuSo" />
        <activity android:name=".pheptru.TruBaSo" />
        <activity android:name=".pheptru.PhepTruDonGian" />


        <activity android:name=".phepnhan.MenuPhepNhan" />
        <activity android:name=".phepnhan.BangNhan" />
        <activity android:name=".phepnhan.NhanMotVoiMotChuSo" />
        <activity android:name=".phepnhan.NhanHaiVoiMotChuSo" />
        <activity android:name=".phepnhan.NhanBaVoiMotChuSo" />
        <activity android:name=".phepnhan.NhanHaiVoiHaiChuSo" />
        <activity android:name=".phepnhan.PhepNhanDonGian" />

        <activity android:name=".phepchia.MenuPhepChia" />
        <activity android:name=".phepchia.BangChia" />
        <activity android:name=".phepchia.ChiaMotVoiMotChuSo" />
        <activity android:name=".phepchia.ChiaHaiVoiMotChuSo" />
        <activity android:name=".phepchia.ChiaHaiVoiHaiChuSo" />
        <activity android:name=".phepchia.ChiaBaVoiMotChuSo" />
        <activity android:name=".phepchia.PhepChiaDonGian" />

        <activity android:name=".sosanh.PhepSoSanhActivity" />

        <activity android:name=".phepcong.PhepCongLienTiepActivity" />
        <activity android:name=".phepcong.CongMotChuSo" />
        <activity android:name=".phepcong.CongHaiChuSo" />
        <activity android:name=".phepcong.CongBaChuSo" />
        <activity android:name=".phepcong.CongBaSo" />
        <activity android:name=".phepcong.PhepCongDonGian" />
        <activity android:name=".phepcong.MenuPhepCong" />

        <activity android:name=".luyentap.LuyenTapToan" />
        <activity android:name=".xephang.XepHangActivity" />

    </application>

</manifest>