<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".fragment.MenuMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".subtracts.SubtractionActivity" />
        <activity android:name=".subtracts.Bangtru" />
        <activity android:name=".subtracts.Tru1_1chuso" />
        <activity android:name=".subtracts.Tru2_1chuso" />
        <activity android:name=".subtracts.Tru2_2chuso" />
        <activity android:name=".subtracts.Tru3_1chuso" />
        <activity android:name=".subtracts.Trubaso" />
        <activity android:name=".subtracts.Pheptrudongian" />


        <activity android:name=".multiplications.MultiplicationActivity" />
        <activity android:name=".multiplications.Bangnhan" />
        <activity android:name=".multiplications.Nhan1x1chuso" />
        <activity android:name=".multiplications.Nhan2x1chuso" />
        <activity android:name=".multiplications.Nhan3x1chuso" />
        <activity android:name=".multiplications.Nhan2x2chuso" />
        <activity android:name=".multiplications.Phepnhandongian" />

        <activity android:name=".divisions.DivisionActivity" />
        <activity android:name=".divisions.Bangchia" />
        <activity android:name=".divisions.Chia1_1chuso" />
        <activity android:name=".divisions.Chia2_1chuso" />
        <activity android:name=".divisions.Chia2_2chuso" />
        <activity android:name=".divisions.Chia3_1chuso" />
        <activity android:name=".divisions.Phepchiadongian" />

        <activity android:name=".compares.ComparisonActivity" />


        <activity android:name=".additions.AdditionActivity" />
        <activity android:name=".additions.ContinuousAdditionActivity" />
        <activity android:name=".additions.Cong1chuso" />
        <activity android:name=".additions.Cong2chuso" />
        <activity android:name=".additions.Cong3chuso" />
        <activity android:name=".additions.Cong3so" />
        <activity android:name=".additions.Phepcong_Timso" />


        <activity android:name=".random.RandomActivity" />
        <activity android:name=".ranks.RankActivity" />
        <activity android:name=".settings.SettingsActivity" />

    </application>

</manifest>